{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('spirituality') }}">Spiritualité</a></li>
    <li>></li>
    <li>Idées de lecture</li>
</ul>

<section class="posts">

    <div class="posts_menu">

        <h2>Idées de lecture</h2>
    </div>



    <article class="reading-article_container">
        <img src="" alt="" class="reading-article_video">
        <h3 class="reading-article_title"></h3>
        <p class="reading-article_description"></p>
        <p>Author :</p>
        <a href="" target="_blank">
            <p class="reading-article_author">Page Author</p>
        </a>

    </article>


</section>


{% endblock %}