{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Spiritualité</li>
</ul>

<div class="menu">

    <h2>Spiritualité</h2>

</div>

<div class="spirituality-intro">
    <img src="{{ asset('assets/images/spirituality.jpg') }}" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolore sed optio pariatur beatae omnis voluptas
        tempora, quasi commodi aliquam reprehenderit, voluptate asperiores aperiam magni cumque, ullam labore
        repellendus eligendi?
        Illum natus totam soluta eum at fuga nostrum id, magnam autem consequatur dolor esse quae quibusdam nulla
        cupiditate, obcaecati dolores consectetur aspernatur minus? Ducimus obcaecati tempora quis voluptas! Officia,
        rerum.
        Pariatur consectetur odit natus molestiae, ea ratione ab voluptate labore repudiandae minima inventore dolorum
        esse necessitatibus omnis nisi sunt maxime corporis fugiat saepe doloribus ipsam et numquam. Ab, itaque officia?
        Reiciendis porro ullam eos natus culpa similique cumque nemo quas non laudantium. Minus architecto saepe
        voluptatum aperiam cupiditate incidunt placeat quam labore officiis et, officia ipsam laudantium illum repellat
        fuga.</p>
</div>

<ul class="spirituality-cards">
    <li>Ressources vidéos</li>
    <li>Idées de lecture</li>
    <li>Oracles</li>
</ul>


{% endblock %}