{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Spiritualité</li>
</ul>

<div class="posts_menu">

    <h2>Spiritualité</h2>

</div>

<div class="spirituality-intro">
    <img src="{{ asset('assets/images/spirituality.jpg') }}" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolore sed optio pariatur beatae omnis voluptas tempora, quasi commodi aliquam reprehenderit, voluptate asperiores aperiam magni cumque, ullam labore repellendus eligendi?
    Illum natus totam soluta eum at fuga nostrum id, magnam autem consequatur dolor esse quae quibusdam nulla cupiditate, obcaecati dolores consectetur aspernatur minus? Ducimus obcaecati tempora quis voluptas! Officia, rerum.
    Pariatur consectetur odit natus molestiae, ea ratione ab voluptate labore repudiandae minima inventore dolorum esse necessitatibus omnis nisi sunt maxime corporis fugiat saepe doloribus ipsam et numquam. Ab, itaque officia?
    Reiciendis porro ullam eos natus culpa similique cumque nemo quas non laudantium. Minus architecto saepe voluptatum aperiam cupiditate incidunt placeat quam labore officiis et, officia ipsam laudantium illum repellat fuga.
    Ipsa corrupti recusandae voluptatem nulla eius libero quaerat incidunt totam delectus magni sunt atque et ut dolores optio eum voluptatum commodi neque aliquam aperiam quos, rerum eligendi illum. Alias, earum.
    Voluptatem ut veniam, sint, deleniti optio suscipit illo consequuntur cumque, porro molestias quidem quaerat dignissimos obcaecati numquam iusto blanditiis vel nisi totam nihil. Labore tempora vero perferendis iure unde hic.</p>
</div>


<section class="spirituality-cards">
    <div>Ressources vidéos</div>
    <div>Idées de lecture</div>
    <div>Oracles</div>
</section>

{% endblock %}