@media screen and (max-width: 859px) {

  body {
    background-color: white;
  }

  .nav {
    display: none;
  }

  .burger-menu {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem auto;
    border: 2px solid #5eaabd;
    padding: 1rem;
    background-color: white;
  }

  .burger-menu_item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .burger-menu_item:last-child {
    display: flex;
    flex-direction: row-reverse;
  }

  .burger-menu_item p {
    text-transform: uppercase;
    font-size: 0.6rem;
    margin: 0;
  }

  .burger-button {
    width: 2rem;
    height: 1.8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  .button-line {
    width: 100%;
    height: 3px;
    background-color: black;
  }

  .logo-burger {
    width: 70px;
    margin: 0;
  }

  .burger-nav_list {
    position: fixed;
    transform: translateX(-150%);
    transition: transform 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: white;
    color: #5eaabd;
    list-style: none;
    margin-top: 3.5rem;
    height: 14.5rem;
  }

  .burger-nav_list--show {
    transform: translate(0);
  }

  .burger-nav_list_item {
    width: 100%;
    border-left: 2px solid #5eaabd;
    border-right: 2px solid #5eaabd;
    border-bottom: 2px solid #5eaabd;
    font-size: 1.4rem;
    padding: 0.7rem;
    font-family: poppins, raleway;
    color: #5eaabd;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }

  .burger-logo {
    height: 30px;
    margin: 0;
    margin-left: 3rem;
  }

  .nav_back {
    border-bottom: 1px solid #5eaabd59;
  }

  .home-intro,
  .spirituality-intro {
    padding-top: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-description,
  .spirituality-description {
    width: 100%;
    align-self: center;
    background-color: #ffffff82;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    line-height: 2rem;
  }

  .home-description img,
  .spirituality-description img {
    width: 3.5rem;
  }

  .home-description span {
    font-weight: 700;
  }

  .home-description p,
  .home-description img,
  .spirituality-description p,
  .spirituality-description img {
    margin-bottom: 1rem;
  }

  .home-description p:first-child,
  .spirituality-description p:first-child {
    font-family: Miniver;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .home-intro h1,
  .spirituality-intro h1 {
    position: absolute;
    margin-top: 12rem;
    padding-left: 1.2rem;
    font-family: Miniver;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
  }

  .spirituality-intro h1 {
    position: absolute;
    margin-top: 8rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }


  .home-cards {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-cards img {
    width: 350px;
    margin: 1rem;
  }

  .home-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-card div {
    display: flex;
    position: absolute;
    padding: 1rem;
  }

  .home-card h3 {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 800;
    color: #2077AA;
  }

  .home-shop-title-list {
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-shop-title-list img {
    width: 55px;
    height: 54px;
  }

  .home-shop-title-list img {
    display: none;
  }

  .home-shop_title {
    font-family: Miniver;
    color: #5eaabd;
    margin: 0 2rem;
    font-size: 1.8rem;
    text-align: center;
  }

  .home-shop_title span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .home-shop {
    margin-top: 0rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .home-shop-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .shop_item {
    margin: 1rem 1rem;
    padding: 1rem;
    width: 350px;
    height: 550px;
    border: 2px solid #5EAABD;
    border-radius: 20px;
    padding: 1rem;
    border-radius: 20px;

  }

  .shop_item_img-conteiner {
    max-width: 260px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .shop_item img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

  .shop_item-detail {
    text-transform: uppercase;
    width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
  }

  .shop_item-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    height: 8rem;
    line-height: 1.2rem;
  }

  .shop_item-brand {
    font-size: 1rem;
  }

  .shop_item-description {
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
  }

  .shop_item-price {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .shop_item-show {
    font-size: 1rem;
    text-align: center;
    width: 250px;
    background: #5EAABD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 0.7rem 1.5rem;
    align-self: center;
    position: relative;
    top: 2rem;
    box-sizing: border-box;
  }

  .shop_item-show p {
    margin: 0;
    color: white;
  }

  .shop_item-show i {
    float: right;
    margin-left: 0.5rem;
  }

  .home-allProducts {
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    color: white;
    margin: 0rem auto;
    margin-top: 4rem;
    text-align: center;
    background-color: #074571;
    border: 2px solid #074571;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }

  .home-allProducts:hover {
    background-color: #ffffff;
    color: #074571;
    border: 2px solid #074571;
    box-shadow: none;
  }

  .footer {
    margin-top: 6rem;
    background-color: #5EAABD80;
    padding-top: 1rem;
  }

  .footer div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer img {
    margin: 0;
    width: 40px;
  }

  .footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer ul:first-child {
    margin-bottom: 2rem;
  }

  .footer ul:nth-child(2) {
    order: 3;
  }

  .footer ul:nth-child(2) img {
    width: 5.5rem;
    height: 4rem;
  }

  .footer ul:last-child img {
    float: right;
  }

  .footer li {
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: white;
    margin: 0.5rem 0;
  }

  .fil-ariane {
    display: none;
  }

  .corps-esprit-cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .corps-esprit-cards h2 {
    font-family: 'Dancing Script', cursive;
    padding: 1rem 0;
    border-radius: 30px;
    font-size: 3rem;
    margin: 0 auto;
  }

  .corps-esprit-cards div {
    width: 95%;
    height: 75%;
    margin: 0 auto;
  }

  .corps-esprit-cards article {
    margin-bottom: 2rem;
  }

  .corps-esprit-cards img {
    max-width: 100%;
    border-radius: 350px;
  }

  .me-section {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
    width: 100%;
    background-color: white;
  }

  .me-img {
    max-height: 500px;
  }

  .me-description {
    width: 100%;
    background-color: white;
    position: relative;
  }

  .me-description h2 {
    font-family: 'Parisienne', cursive;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    color: #5EAABD;
  }

  .me-description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1.5 auto;
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .me-description p:last-child {
    font-family: 'Miniver', cursive;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu h2 {
    display: block;
    font-family: 'poppins';
    color: #42a4bde5;
    font-size: 2.2rem;
    margin-top: 6rem;
  }

  .search-form {
    margin: 2rem auto;
  }

  .search-form input {
    justify-self: end;
    height: 2rem;
    border: 1px solid #5eaabd;
  }

  .search-form form {
    font-size: 0;
  }

  .search-form button {
    border: 1px solid #5eaabd;
    width: 2rem;
    height: 2rem;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    width: 95%;
    max-width: 530px;
    height: 630px;
    margin: 3rem auto;
    background-color: rgb(240, 238, 238);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  }

  .post img {
    width: 100%;
    height: 300px;
    background-color: rgb(240, 238, 238);
  }

  .post_description {
    width: 93%;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .post_description h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: 0 0.1rem;
    text-align: center;
  }

  .post_p {
    font-size: 1.2rem;
    padding: 0 0.1rem;
    text-align: center;
    line-height: 1.3rem;
  }

  .post_show {
    margin: 0 auto;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    max-width: 40%;
    border: 1px solid #5eaabd;
    font-weight: bold;
    color: #5eaabd;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .post_show:hover {
    color: white;
    background-color: #5eaabd;
  }

  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shop-title {
    padding-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    font-family: poppins, raleway;
    color: cadetblue;
  }

  .filters {
    margin-top: 2rem;
    width: 100%;
  }

  .filter_search {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .filters h3 {
    margin-bottom: 1.3rem;
    padding: 0.3rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 110px;
    font-size: 1.1rem;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #5eaabd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #5eaabd;
  }

  .filter_form {
    display: none;
  }

  .filter_form--show {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    color: #5eaabd;
    margin-top: 1rem;
    padding: 1rem;
  }


  .filter_checkbox div {
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
  }

  .filter_checkbox input:last-child {
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin: 1rem auto;
    text-align: center;
    background-color: #074571;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #074571;
  }


  .shop_item-list {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .found-products,
  .found-posts {
    font-family: poppins, raleway;
    color: cadetblue;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-size: 1rem;
    width: fit-content;
    line-height: 1.5rem;
  }

  .found-products span,
  .total-items_search span,
  .total-posts_search span {
    display: flex;
    font-size: 1rem;
    font-family: poppins, raleway;
    font-weight: bold;
  }

  .navigation_page {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .row,
  .title_form {
    width: 85%;
    margin: 0 auto;
  }

  .row--btn {
    width: 20%;
  }

  .row--btn,
  .table {
    margin-bottom: 6rem;
  }

  .menu_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 3rem 0;
  }

  .menu_form h1 {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .menu_form_buttons {
    width: 100%;
    text-align: right;
    margin-right: 3rem;
  }

  .menu_form_buttons a {
    margin-left: 1rem;
    box-shadow: 5px 3px 6px gray;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 0.3rem;
    font-weight: 700;

  }

  .menu_form_buttons a:hover {
    box-shadow: none;
    background-color: grey;
    color: white;
  }

  td,
  th {
    text-align: left;
  }

  .th-read {
    width: 200px;
  }

  td i {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .img-read {
    max-width: 500px;
  }

  .post-page {
    background-color: #fffaec;
    display: flex;
    justify-content: center;
  }

  .post-page_post {
    max-width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-page_post h1 {
    font-size: 1.8rem;
    padding: 1.5rem 0.5rem;
    font-family: 'Caveat', cursive;
    color: cadetblue;
  }

  .post-page_post img {
    width: 100%;
  }

  .post-page_post p {
    width: 95%;
    line-height: 1.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Indie Flower', cursive;
  }

  .post-author-informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
  }

  .post-author-informations li {
    padding: 1rem 0;
    text-align: center;

  }

  .post-author-informations a {
    text-decoration: underline;
  }

  .post-author-informations span {
    font-weight: bold;
  }

  .title_login_page {
    text-align: center;
    margin: 3rem auto;
  }

  .title_login_page .span-2 {
    color: chartreuse;
  }

  .title_login_page .span-1 {
    color: cornflowerblue;
  }

  .login-form {
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-form label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .login-form button {
    margin-top: 2rem;
  }

  .go-top {
    width: 100%;
    text-align: center;
  }


  .spirituality-cards {
    display: flex;
    flex-direction: column;
  }

  .spirituality-card {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  .spirituality-card_picture {
    width: 100%;
  }

  .spirituality-card_picture img {
    width: 100%;
  }

  .spirituality-card_description {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    padding: 1rem;
  }

  .spirituality-card_description p {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .spirituality-card p:last-child {
    background-color: #5EAABD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #5EAABD;
    border-radius: 7px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 210px;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }

  .spirituality-card p:last-child:hover {
    background-color: white;
    box-shadow: none;
    border: 1px solid #5EAABD;
    color: #5EAABD;
  }


  .video-article_container {
    margin: 3rem auto;
    background-color: #e6dfff;
    width: 99%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }

  .video-article_title {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #7651bb;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .video-article_video {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  }

  .video-article_author {
    text-align: center;
  }

  .readings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .readings_menu,
  .videos_menu {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .reading-article_container {
    width: 99%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    background-color: #e2e2e258;
  }

  .reading-article_img {
    width: 100%;
  }

  .reading-article_informations {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
  }

  .reading-article_title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
  }

  .reading-article_description {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    line-height: 1.2rem;
  }

  .reading-article_buy,
  .video-article_author {
    text-decoration: underline;
  }

  .video-back {
    width: 560px;
    height: 415px;
  }

  .oracles {
    width: 99%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .oracle-article_container {
    width: 100%;
    margin-top: 2rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    padding: 1rem 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: #c1d5ff5d;
  }

  .oracle-article_img {
    width: 100%;
  }

  .oracle-article_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .oracle-article_description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

}

@media screen and (min-width: 860px) {

  body {
    background-color: white;
  }

  .burger-nav {
    display: none;
  }

  .nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #5eaabd59;
  }

  .nav_back {
    border-bottom: 1px solid #5eaabd59;
  }

  .nav_list {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .nav_list_item {
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
  }

  .logo {
    height: 60px;
    margin: 0.3rem 0;
  }

  .nav_link {
    font-family: poppins, raleway;
    font-weight: 600;
    color: #5eaabd;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    padding: 2rem;
    text-decoration: none;
  }

  .nav_links_children {
    display: none;
  }

  .nav_links_children--show {
    width: calc(100% / 6);
    background-color: white;
    position: fixed;
    margin-top: 5.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
  }

  .nav_link_child:first-child {
    padding-top: 1.5rem;
  }

  .nav_link_child {
    margin: 0.8rem 0;
    padding: 0 1.2rem;
    font-family: poppins, raleway;
    color: #5eaabd;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: center;
  }

  .home-intro,
  .spirituality-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .spirituality-intro {
    margin-top: 2rem;
  }

  .home-description,
  .spirituality-description {
    width: 900px;
    align-self: center;
    background-color: #ffffff82;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    line-height: 2rem;
  }

  .spirituality-description {
    background-color: #ffffffa5;
  }


  .home-description img,
  .spirituality-description img {
    width: 3.5rem;
  }

  .spirituality-description img {
    margin-top: 1rem;
  }

  .home-description span {
    font-weight: 700;
  }

  .home-description p,
  .home-description img,
  .spirituality-description p,
  .spirituality-description img {
    margin-bottom: 1rem;
  }

  .home-description p:first-child,
  .spirituality-description p:first-child {
    font-family: Miniver;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .home-intro h1,
  .spirituality-intro h1 {
    position: absolute;
    margin-top: 13rem;
    padding-left: 4rem;
    font-family: Miniver;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    width: 100%;
  }

  .home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .home-cards img {
    width: 350px;
    margin: 1rem;
  }

  .home-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-card div {
    display: flex;
    position: absolute;
    padding: 1rem;
  }

  .home-card h3 {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 800;
    color: #2077AA;
  }

  .home-card h3:hover {
    transform: scale(1.15);
    background-color: rgba(255, 255, 255);
    transition: 1.4s;
    color: #074571;
  }

  .home-shop-title-list {
    margin: 0 auto;
    margin-top: 6rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-shop-title-list img {
    width: 55px;
    height: 54px;
  }

  .home-shop_title {
    font-family: Miniver;
    color: #5eaabd;
    margin: 0 2rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .home-shop_title span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .home-shop {
    margin-top: 0rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .home-shop-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .shop_item--home {
    width: calc((100% - 16rem) / 2);
  }

  .shop_item {
    margin-top: 3rem;
    min-width: 300px;
    height: 654px;
    border: 2px solid #5EAABD;
    border-radius: 20px;
    padding: 1rem;
    border-radius: 20px;
  }

  .shop_item:hover {
    z-index: 10;
    transition: 1s;
    transform: scale(1.1);
    border: 5px solid #5EAABD;
  }

  .shop_item_img-conteiner {
    max-width: 304px;
    height: 362px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .shop_item img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

  .shop_item-detail {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
  }

  .shop_item-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    height: 8rem;
    line-height: 1.2rem;
  }

  .shop_item-brand {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .shop_item-description {
    font-size: 1rem;
    margin: 0;
  }

  .shop_item-price {
    color: #5EAABD;
    font-weight: 600;
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .shop_item-show {
    font-size: 1rem;
    text-align: center;
    width: 250px;
    background-color: #5EAABD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 0.7rem 2rem;
    align-self: center;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  .shop_item-show p {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .shop_item-show i {
    float: right;
    margin-left: 0.5rem;
  }

  .home-allProducts {
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    color: white;
    margin: 0rem auto;
    margin-top: 4rem;
    text-align: center;
    background-color: #074571;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #074571;
  }

  .home-allProducts:hover {
    background-color: #ffffff;
    color: #074571;
    border: 2px solid #074571;
    box-shadow: none;
  }

  .footer {
    margin-top: 6rem;
    background-color: #5EAABD80;
  }

  .footer div {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .footer ul {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer ul:nth-child(2) {
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
  }

  .footer ul:nth-child(2) img {
    width: 5.5rem;
    height: 4rem;
  }

  .footer ul:last-child img {
    float: right;
  }

  .footer li {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: white;
    margin: 0.5rem 0;
  }

  .fil-ariane {
    padding-top: 8.5rem;
    padding-bottom: 0.5rem;
    margin: 0 6rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  }

  .fil-ariane li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.52);
    margin-right: 1.4rem;
  }

  .spirituality-intro h1 {
    position: absolute;
    margin-top: 6.5rem;
    padding-left: 4rem;
    width: 51%;
    text-align: center;
    line-height: 4rem;
  }

  .spirituality-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spirituality-card {
    margin-top: 7rem;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .spirituality-card_picture {
    width: 50;
  }

  .spirituality-card_picture img {
    width: 100%;
  }

  .spirituality-card_description {
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    padding: 1rem;
  }

  .spirituality-card_description p {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .spirituality-card:nth-child(2) {
    flex-direction: row-reverse;
  }

  .spirituality-card p:last-child {
    background-color: #5EAABD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #5EAABD;
    border-radius: 7px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 210px;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }

  .spirituality-card p:last-child:hover {
    background-color: white;
    box-shadow: none;
    border: 1px solid #5EAABD;
    color: #5EAABD;
  }

  .corps-esprit-cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .corps-esprit-cards article {
    margin: 6rem auto;
  }

  .corps-esprit-cards h2 {
    background-color: white;
    font-family: 'Dancing Script', 'Miniver', cursive;
    padding: 1rem 0;
    border-radius: 30px;
    font-size: 2.7rem;

  }

  .corps-esprit-cards div {
    width: 500px;
    height: 500px;
  }

  .corps-esprit-cards article {
    margin-bottom: 2rem;
  }

  .corps-esprit-cards img {
    max-width: 100%;
    border-radius: 350px;
    opacity: 0.5;
  }

  .corps-esprit-cards img:hover {
    transition: 1.3s;
    opacity: 1;
  }

  .me-section {
    display: flex;
    font-size: 0;
    width: 800px;
    margin: 5rem auto;
  }

  .me-img {
    height: 100%;
    width: 100%;
    margin: 0;
    align-self: center;
    position: relative;
    left: 5rem;
  }

  .me-description {
    border: 2px solid #5EAABD;
    background-color: white;
    padding: 0 1rem 0 6.5rem;
  }

  .me-description h2 {
    font-family: 'Parisienne', cursive;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    color: #5EAABD;
  }

  .me-description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1.5 auto;
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .me-description p:last-child {
    font-family: 'Miniver', cursive;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu h2 {
    display: block;
    font-family: 'poppins';
    color: #42a4bde5;
    font-size: 3.5rem;
    margin-top: 3rem;
  }

  .search-form {
    margin: 2rem auto;
  }

  .search-form input {
    justify-self: end;
    height: 2rem;
    border: 1px solid #5eaabd;
  }

  .search-form form {
    font-size: 0;
  }

  .search-form button {
    border: 1px solid #5eaabd;
    width: 2rem;
    height: 2rem;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    width: 530px;
    height: 600px;
    margin: 5rem auto;
    background-color: rgb(240, 238, 238);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  }

  .post img {
    width: 100%;
    height: 300px;
    background-color: rgb(240, 238, 238);
  }

  .post_description {
    width: 93%;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -2rem;
    margin-bottom: 2rem;

  }

  .post_description h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: 0 0.5rem;
    text-align: center;
  }

  .post_p {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    line-height: 1.3rem;
  }

  .post_show {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    max-width: 40%;
    border: 1px solid #5eaabd;
    font-weight: bold;
    color: #5eaabd;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
  }

  .post_show:hover {
    color: white;
    background-color: #5eaabd;
  }

  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shop-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: poppins, raleway;
    color: cadetblue;
  }

  .filters {
    margin-top: 2rem;
    width: 100%;
  }

  .submit-filter {
    width: 100px;
  }

  .filter_search {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .filters h3 {
    margin-bottom: 1.3rem;
    padding: 0.3rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 110px;
    font-size: 1.1rem;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #5eaabd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #5eaabd;
  }

  .filter_form {
    display: none;
  }

  .filter_form--show {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    color: #5eaabd;
    margin-top: 1rem;
    padding: 1rem;
  }

  .submit-filter {
    width: 30%;
    margin: 0 auto;
  }


  .filter_checkbox div {
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
  }

  .filter_checkbox input {
    margin-bottom: 1rem;
  }

  .filter_checkbox input:last-child {
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin: 1rem auto;
    text-align: center;
    background-color: #074571;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #074571;
  }


  .shop_item-list {
    width: 100%;
    margin: 2.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop_item--shop {
    width: calc((100% - 6rem) / 4);
    margin: 2rem;
  }

  .found-products,
  .found-posts {
    font-family: poppins, raleway;
    color: cadetblue;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-size: 1.1rem;
    width: fit-content;
    line-height: 2rem;
  }

  .found-products span,
  .total-items_search span,
  .total-posts_search span {
    font-size: 1.6rem;
    font-family: poppins, raleway;
    font-weight: bold;
  }

  .navigation_page {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .row,
  .title_form {
    width: 85%;
    margin: 0 auto;
  }

  .row--btn {
    width: 20%;
  }

  .row--btn,
  .table {
    margin-bottom: 6rem;
  }

  .menu_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 3rem 0;
  }

  .menu_form h1 {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .menu_form_buttons {
    width: 100%;
    text-align: right;
    margin-right: 3rem;
  }

  .menu_form_buttons a {
    margin-left: 1rem;
    box-shadow: 5px 3px 6px gray;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 0.3rem;
    font-weight: 700;

  }

  .menu_form_buttons a:hover {
    box-shadow: none;
    background-color: grey;
    color: white;
  }

  td,
  th {
    text-align: left;
  }

  .th-read {
    width: 200px;
  }

  td i {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .img-read {
    max-width: 500px;
  }

  .post-page {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }

  .post-page_post {
    max-width: 90%;
    background-color: #ffffff;
    border: 2px solid #5EAABD;
    border-radius: 15px;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-page_post h1 {
    font-size: 3rem;
    padding: 1.5rem 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: cadetblue;
  }

  .post-page_post img {
    width: 100%;
  }

  .post-page_post p {
    width: 95%;
    line-height: 2rem;
    margin: 1rem;
    font-size: 1.7rem;
    font-family: 'Montserrat';
  }

  .post-author-informations {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    font-size: 1.5rem;
  }

  .post-author-informations a {
    text-decoration: underline;
  }

  .post-author-informations span {
    font-weight: bold;
  }

  .title_login_page {
    text-align: center;
    margin: 3rem auto;
  }

  .title_login_page .span-2 {
    color: chartreuse;
  }

  .title_login_page .span-1 {
    color: cornflowerblue;
  }

  .login-form {
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-form label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .login-form button {
    margin-top: 2rem;
  }

  .go-top {
    width: 100%;
    text-align: center;
  }

  .video-article_container {
    margin: 3rem auto;
    background-color: #e6dfff;
    width: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .video-article_title {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #7651bb;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .video-article_video {
    width: 100%;
    height: 400px;
  }

  iframe {
    width: 100%;
    height: 100%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  }

  .video-article_author {
    text-align: center;
  }

  .readings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .readings_menu,
  .videos_menu {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .reading-article_container {
    width: 80%;
    min-height: 550px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    display: flex;
    margin: 2rem 0;
    background-color: #e2e2e258;
  }

  .reading-article_img {
    width: 45%;
  }

  .reading-article_informations {
    width: 55%;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
  }

  .reading-article_title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
  }

  .reading-article_description {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    line-height: 1.2rem;
  }

  .reading-article_buy,
  .video-article_author {
    text-decoration: underline;
  }

  .video-back {
    width: 560px;
    height: 415px;
  }

  .oracles {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .oracle-article_container {
    width: 90%;
    margin: 2rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: #c1d5ff5d;
  }

  .oracle-article_img {
    max-width: 350px;

  }

  .oracle-article_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .oracle-article_description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

}

@media screen and (min-width: 1286px) {

  .nav_link {
    font-size: 1.5rem;
  }

  .nav_link_child {
    font-size: 1.5rem;
  }

  .fil-ariane {
    padding-top: 9.5rem;
    padding-bottom: 0.5rem;
    margin: 0 6rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  }

  .home-description,
  .spirituality-description {
    position: absolute;
    top: 27.5rem;
    right: 5rem;
    font-size: 1.5rem;
  }

  .spirituality-description {
    position: absolute;
    top: 31.7rem;
    right: 5rem;
  }


  .home-description img,
  .spirituality-description img {
    width: 5rem;
  }



  .home-description p:first-child,
  .spirituality-description p:first-child {
    font-size: 2.2rem;
  }

  .shop_item--home {
    width: calc((100% - 16rem) / 3);
    width: 366px;
  }

  .show-products {
    display: none;
  }

  .me-section {
    width: 1100px;
    margin: 5rem auto;
  }

  .me-description p {
    margin: 1rem auto;
  }


  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .search-form {
    align-self: flex-end;
    margin-right: 20rem;
    margin-top: 2rem;
  }

  .post {
    display: flex;
    font-size: 0;
    min-width: 1000px;
    height: 450px;
    margin: 5rem auto;
    background-color: rgb(240, 238, 238);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  }

  .post img {
    font-size: 0;
    max-width: 50%;
    height: 100%;
    background-color: rgb(240, 238, 238);
  }

  .post_description {
    width: 50%;
    height: 85%;
    background-color: white;
    position: relative;
    margin-top: 2.1rem;
    margin-left: -2rem;
  }

  .post_p {
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  .shop {
    display: flex;
    justify-content: center;
  }

  .shop-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: poppins, raleway;
    color: cadetblue;
  }


  .filter_search {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }

  .filters h3 {
    display: none;
  }

  .filter_form {
    display: block;
  }

  .submit-filter {
    width: 100px;
  }


  .filters {
    margin-top: 5rem;
    margin-left: 2rem;
    max-width: 15%;
  }

  .filter_checkbox {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: white;
    color: #5eaabd;
    margin-top: 1rem;
    padding: 1rem;
  }

  .filter_checkbox input {
    margin-bottom: 1rem;
  }


  .filter_checkbox input:last-child{
    margin-bottom: 1.3rem;
    padding: 0.3rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 110px;
    font-size: 1.1rem;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #5eaabd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 2px solid #5eaabd;
  }

  .filter_checkbox input:last-child:hover{
    color: #5eaabd;
    background-color: #ffffff;
    box-shadow: none;
  }

  .shop_item-list {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop_item--shop {
    width: calc((100% - 8rem) / 4);
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 3rem 0;
  }

  .spirituality-card {
    width: 1300px;
  }

  .reading-article_container {
    width: 45%;
    min-height: 550px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    display: flex;
    margin: 2rem 0;
    background-color: #e2e2e258;
  }

  .oracle-article_container {
    width: calc((100% - 12rem) /2);
    margin: 2rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: #c1d5ff5d;
  }

}