{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Boutique</li>
</ul>

<section class="shop">

    <ul class="shop_filters">
        <li>Filtres :</li>
        <li>Beauté</li>
        <li>Higiéne</li>
        <li>Huiles essentielles</li>
        <li>Santé</li>
        <li>Alimentaire</li>
        <li>Entretien</li>
        <li>Tous les produits</li>
    </ul>
    <p class="found-items">Produits trouvés : </p>

    <div class="shop_item-list">
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Gel cheveux</h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-description"></p>
                <p class="shop_item-price">€ 20 </p>
               
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Shampooing solide </h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-description"></p>
                <p class="shop_item-price">€ 20 </p>
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Gel cheveux</h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-description"></p>
                <p class="shop_item-price">€ 20 </p>
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Gel cheveux</h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-price">€ 20 </p>
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Gel cheveux</h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-price">€ 20 </p>
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
        <article class="shop_item">
            <img src="https://profumeriemediterraneo.it/13780-large_default/dikson-gel-noir-per-capelli-gel-modellante-nero-per-capelli-grigi-100ml.jpg" alt="">
            <div class="shop_item-detail">
                <h3 class="shop_item-title">Gel cheveux</h3>
                <h4 class="shop_item-brand">Nivea</h4>
                <p class="shop_item-price">€ 20 </p>
                <a class="shop_item-show" href="">
                    <p >Voir le produit</p>
                </a>
            </div>
        </article>
    </div>

</section>

{% endblock %}