{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('corpsEsprit') }}">Corps & Esprit</a></li>
    <li>></li>
    <li>Alimentation</li>
</ul>

<section class="feed">
   <div class="feed-menu">
       
       <h2>Alimentation</h2>
       
       <div class="form">
           <form  action="">
               <input class="" name="search" type="search" placeholder="Rechercher...">
               <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
       
           </form>
       </div>
   </div>

    <article class="feed_post">

        <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="feed_description">
            <h3>Spagetti alla carbonara</h3>
            <p class="feed_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat blanditiis vitae maiores, totam corrupti reiciendis corporis dicta molestiae. Explicabo tempora ea tenetur blanditiis minus!</p>
            <p class="feed_description_show">Lire la suite</p>
        </div>

        
               
            
    </article>
</section>

{% endblock %}