<footer class="footer">
   <ul>
      <li> <img class="logo" src="{{ asset('assets/images/colombe.png') }}" alt="Logo" ></li>
      <li>Contact : <a href="mailto:lili_lili321@hotmail.com">lili_lili321@hotmail.com</a></li> 
   </ul>
     
   <p>Copyright © 2022 Colombienetre.com
      </p>
</footer>