<header class="nav">
   
      <ul class="nav_list">

         <li class="nav_list_item">
            <img class="logo" src="{{ asset('assets/images/colombe.png') }}" alt="Logo" >
         </li>

         <li  class="nav_list_item">
            <a class="nav_link"  href="" >Accueil</a>
         </li>

         <li class="nav_list_item">
            <a class="nav_link" href="">Corps & esprit</a>
            <div class="nav_links_children">
               <a href="" class="nav_link_child">Sport</a>
               <a href="" class="nav_link_child">Massages</a>
               <a href="" class="nav_link_child">Permathérapie</a>
               <a href="" class="nav_link_child">Fleurs de Bach</a>
               <a href="" class="nav_link_child">Autohypnse</a>
               <a href="" class="nav_link_child">Reiki</a>
               <a href="" class="nav_link_child">Phytothérapie</a>
               <a href="" class="nav_link_child">Meditation</a>
            </div>
         </li>
            
         <li class="nav_list_item">
            <a class="nav_link" href="">Spiritualité</a>
            <div class="nav_links_children">
               <a href="" class="nav_link_child">A</a>
               <a href="" class="nav_link_child">B</a>
               <a href="" class="nav_link_child">C</a>
               <a href="" class="nav_link_child">D</a>
            </div>
         </li>

         <li class="nav_list_item">
            <a class="nav_link" href="">Conseils santé</a>
            <div class="nav_links_children">
               <a href="" class="nav_link_child">E</a>
               <a href="" class="nav_link_child">F</a>
               <a href="" class="nav_link_child">G</a>
               <a href="" class="nav_link_child">H</a>
            </div>
         </li>

         <li class="nav_list_item">
            <a class="nav_link" href="">Qui suis-je ?</a>
         </li>
         
      </ul>      

</header>