{% extends 'front/base.html.twig' %}

{% block title %}Qui suis-je?{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Qui suis-je ?</li>
</ul>

<section class="me-section">

    <img class="me-img" src="{{ asset('assets/images/likung.png') }}" alt="Likung Lim">

    <div class="me-description">
        <h2>Qui suis-je? </h2>
        <p>Je suis Likung en pleine reconversion professionnelle dans le digital après 10 ans dans le tourisme dont 5
            ans de management d’équipes.</p>
        <p>
            Mon objectif:<br>
            faire le pont entre l’humain et le digital en facilitant le quotidien des utilisateurs
        </p>
        <p>
            Passionnée de voyages, de rencontres, de langues et de nouvelles découvertes j’aimerais à travers ce site
            vous faire découvrir mon univers celui du Bien-être et de la spiritualité.
        </p>
        <p>
            Nous vivons dans un monde qui va de plus en plus vite et nous oublions parfois de nous octroyer des pauses
            pour prendre soin de soi, de notre corps et notre esprit.
        </p>
        <p>
            Je vous laisse découvrir à votre rythme et selon vos envies les différents thèmes abordés.
        </p>
        <p>
            Petite citation qui résume bien le message du site:
        </p>
        <p>Pas de différence entre corps et esprit. C'est pareil à la feuille de papier, on ne peut pas acheter
            l'endroit sans l'envers ! <br>

            Taisen Deshimaru</p>


    </div>
</section>


{% endblock %}