{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Qui suis-je ?</li>
</ul>

<section class="me-section">
    
    <img class="me-img" src="{{ asset('assets/images/me.jpg') }}" alt="">

    <div class="me-description">
        <h2>HELLO ! JE SUIS LIKUNG,</h2>
        <p>Lorem ipsumdi iste qui porro alias doloremque nisi sed. Dignissimos ratione sit labore iste soluta
            reprehenderit!
            Fugit eum quam, vitae aut accusantium nulla voluptates dolorum repudiandae nostrum rerum, dolores quaerat.
            Voluptatem consectetur veniam recusandae. </p>

        <p>Lorem ipsum dolor,
            
            sit amet consectetur <br><br>adipisicing elit. Vel veritatis consectetur ipsam est, commodi
           
            dolorem temporibus! Cupiditate quae, similique explicabo accusantium odio, minus aliquam dolores nihil
            sapiente accusamus ipsa deleniti!</p>
    </div>
</section>


{% endblock %}