{% extends 'back/base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="menu_form">
    <div class="menu_form_buttons"><a href="{{ path('back_' ~ post.category ~ '_browse') }}">Liste article</a></div>
    <h1 class="title_form">Ajouter un Article</h1>
</div>

{{ include('back/corpsEsprit/_form.html.twig', {"button_label": "AJOUTER"}) }}



{% endblock %}