{% extends 'back/base.html.twig' %}

{% block title %}Ajouter Article{% endblock %}

{% block body %}
    <h1 class="title_form">Ajouter un Article</h1>

    {{ include('back/corpsEsprit/_form.html.twig', {"button_label": "AJOUTER"}) }}
    

    <a class="back_list_form" href="{{ path('back_' ~ post.category ~ '_browse') }}">back to list</a>
{% endblock %}